

.post-header-wrapper {
  text-align: center;
}

.post-header-wrapper p{
  font-size: 1.2em;
}


mat-form-field{
  width: 70%;
}

mat-error{
  margin-bottom: 15px;
}

.post-from-wrapper {
  text-align: center;
  font-size: 1.4em;
}

.post-text-area{
  padding-bottom: 20px;
  border-bottom: 4px solid #ececec;
}
