

<div class="post-wrapper card">
  <div class="post-header-wrapper" color="primary">
    <mat-toolbar color="primary"><h2><i class="fa fa-crop"></i> Post Form</h2></mat-toolbar>
    <p class="text-muted post-description">
      Create a new document and edit with others at the same time -- from your computer, phone or tablet. Get stuff done with or without an internet connection
    </p>
  </div>

  <div class="post-from-wrapper card-body">
    <form
      class="form-group"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()"
      (ngResult)="onReset()"
    >
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Enter title"
          class="form-control"
          [formControlName]="'title'"
        >
        <mat-error
          *ngIf="formGroup.controls['title'].invalid && formGroup.controls['title'].touched"
        >Please enter more than 5 letters</mat-error>
      </mat-form-field>
      <mat-form-field
        matTooltip="'TagName enhance your searching engine for document!'"
        [matTooltipPosition]="'right'">
        <input
          matInput
          type="text"
          placeholder="#Tags"
          class="form-control"
          [formControlName]="'tags'"
        >
        <mat-hint> 3 TagName is allowed. &nbsp;
          <i class="fa fa-hashtag"></i>[tagName1],
          <i class="fa fa-hashtag"></i>[tagName2],
          <i class="fa fa-hashtag"></i>[tagName3]</mat-hint>
        <mat-error
          *ngIf="formGroup.controls['tags'].invalid
          && formGroup.controls['tags'].touched"
        >Please enter valid tagname</mat-error>
        <mat-error
          *ngIf="formGroup.controls['tags'].invalid
          && formGroup.controls['tags'].touched
          && formGroup.controls['tags'].errors['length']"
        >Please enter below 3 tagName(inclusive)</mat-error>
        <mat-error
          *ngIf="formGroup.controls['tags'].invalid
          && formGroup.controls['text'].touched
          && formGroup.controls['tags'].errors['containsHash']"
        >Remove the <i class="fa fa-hashtag"></i> between letters</mat-error>
        <mat-error
          *ngIf="formGroup.controls['tags'].invalid
          && formGroup.controls['text'].touched
          && formGroup.controls['tags'].errors['containsSameword']"
        >Tag name already registered</mat-error>
      </mat-form-field>
      <mat-form-field class="access-select-form">
        <mat-select
          placeholder="Choose an accessibility of your document"
          [formControlName]="'secret'"
        >
          <mat-option value="true">Private</mat-option>
          <mat-option value="false">Public</mat-option>
        </mat-select>
      </mat-form-field>

      <hr>
      <mat-form-field class="post-text-area">
        <textarea
          matInput
          rows="16"
          type="text"
          placeholder="Leave a text..."
          [formControlName]="'text'"
        ></textarea>
        <mat-error
          *ngIf="formGroup.controls['text'].invalid && formGroup.controls['text'].touched"
        >Please enter more than 10 letters</mat-error>
      </mat-form-field>
      <hr>
      <button
        color="primary"
        type="submit"
        mat-raised-button
        [disabled]="formGroup.invalid"
        class="btn">Post!</button>
      <button
        type="reset"
        mat-raised-button
        (click)="onReset()"
        class="btn">Reset</button>
    </form>
  </div>
</div>
