


<div class="main-intro-wrapper">
  <div class="container">
    <div class="row main-intro-title-wrapper">
      <div class="col-4 main-intro-title-img"
      ><img
        class="img-fluid img-thumbnail"
        src="/assets/img/components.png" alt=""></div>
      <div class="col-8">
        <h2 class="main-intro-title">Easy to get started.</h2>
      </div>
    </div>
    <p class="main-intro-description">Quicly include Bootstrap's CSS and JS into any project. Use your favorite package manager, download the source, or use the Bootstrap CDN.
    </p>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-6 mat-intro-description-content">
        <h4>Managed Dependencies</h4>
        <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.
          <button
            mat-raised-button
            color="primary"
            >Get Explored</button>
        </p>
      </div>
      <div class="col-6 mat-intro-description-content">
        <h4>Managed Dependencies</h4>
        <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.
          <button
            mat-raised-button color="primary"
          >Get Explored</button>
        </p>
      </div>
    </div>

  </div>
</div>




<div class="main-intro-wrapper">
  <div class="container">
    <div class="row main-intro-title-wrapper">
      <div class="col-4 main-intro-title-img"
      ><img
        class="img-fluid img-thumbnail"
        src="/assets/img/components.png" alt=""></div>
      <div class="col-8">
        <h2 class="main-intro-title">Easy to get started.</h2>
      </div>
    </div>
    <p class="main-intro-description">Quicly include Bootstrap's CSS and JS into any project. Use your favorite package manager, download the source, or use the Bootstrap CDN.
    </p>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-6 mat-intro-description-content">
        <h4>Managed Dependencies</h4>
        <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.
          <button
            mat-raised-button
            color="primary"
          >Get Explored</button>
        </p>
      </div>
      <div class="col-6 mat-intro-description-content">
        <h4>Managed Dependencies</h4>
        <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.
          <button
            mat-raised-button color="primary"
          >Get Explored</button>
        </p>
      </div>
    </div>

  </div>
</div>




<div class="main-intro-wrapper">
  <div class="container">
    <div class="row main-intro-title-wrapper">
      <div class="col-4 main-intro-title-img"
      ><img
        class="img-fluid img-thumbnail"
        src="/assets/img/components.png" alt=""></div>
      <div class="col-8">
        <h2 class="main-intro-title">Easy to get started.</h2>
      </div>
    </div>
    <p class="main-intro-description">Quicly include Bootstrap's CSS and JS into any project. Use your favorite package manager, download the source, or use the Bootstrap CDN.
    </p>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-6 mat-intro-description-content">
        <h4>Managed Dependencies</h4>
        <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.
          <button
            mat-raised-button
            color="primary"
          >Get Explored</button>
        </p>
      </div>
      <div class="col-6 mat-intro-description-content">
        <h4>Managed Dependencies</h4>
        <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.
          <button
            mat-raised-button color="primary"
          >Get Explored</button>
        </p>
      </div>
    </div>

  </div>
</div>
