

<div class="card-deck mt-3 text-center">
  <div class="card mb-4">
    <mat-toolbar>More than letters and words</mat-toolbar>

    <div class="card-body">
      <ul class="list-unstyled mt-3 mb-4">
        <p class="home-section">
          SW Docs application brings your documents to life with smart editing and styling tools to help you easily format text and paragraphs. <br>
          Choose from hundreds of fonts, add links, images, and drawings. All for free. <br>
          Choose from a wide variety of resumes, reports, and other pre-made documents — all designed to make your work that much better, and your life that much easier.


          Lists with inset dividers
          Dividers can be added to lists as a means of separating content into distinct sections. Inset dividers can also be added to provide the appearance of distinct elements in a list without cluttering content like avatar images or icons. Make sure to avoid adding an inset divider to the last element in a list, because it will overlap with the section divider.
        </p>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for own Document!</button>
    </div>
  </div>
</div>
