


<div class="post-success-wrapper">
  <div class="headline text-white">
    <p>Posting Document success! :></p>
  </div>
  <div class="sub-headline text-white">
    <p>Find another feature to enhance your documents!</p>
  </div>

  <div class="btn-group">
    <button
      mat-raised-button
      (click)="onReadDocument()"
    ><i class="fa fa-history"></i>&nbsp; Go to posted Document</button>
    <button
      mat-raised-button
      (click)="onList()"
    ><i class="fa fa-list-ul"></i>&nbsp; Go to List</button>
  </div>

</div>
