
.side-wrapper{
  position: fixed;
  top: 330px;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: #fafafa;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
}
.side-wrapper-btn{
  position: fixed;
  top: 330px;
  left: 0;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
}

.container{
  margin-left: 150px;
}
