

<div class="document-read-wrapper">
  <div class="read-headline">
    <p><i class="fa fa-inbox"></i> Your Document</p>
  </div>
  <div class="read-sub-headline">
    <h2 class="document-title"> {{ document.title }}</h2>
    <div class="row document-metadata">
      <div class="col-3 document-data">
        <mat-chip color="primary">Writer : {{ document.writer }}</mat-chip>
      </div>
      <div class="col-4 document-data">
        <mat-chip color="primary">Post Date: {{ document.postDate }}</mat-chip>
      </div>
      <div class="col-4 document-data">
        <mat-chip color="primary">Raiting: <app-star-rating [rating]="rating"></app-star-rating></mat-chip>
      </div>
    </div>
  </div>

  <div class="read-body">
    <p>
      {{ document.text }}
    </p>
  </div>
</div>
