

<div class="document-list-wrapper">
  <div class="feature-header">
    <div class="text-headline"><img src="/assets/img/document/list/document-list-recent.png" height="50" />&nbsp;Most Recent Documents</div>
  </div>
  <hr>
  <div class="document-row row" style="text-align: center">
    <div class="document col-4">
      <div class="document-title alert">Title 1</div>
      sdfgasdfsadfsadfsadfsadf
      sdfgasdfsadfsadfsadfsadf
      sdfgasdfsadfsadfsadfsadf
      sdfgasdfsadfsadfsadfsadf
      sdfgasdfsadfsadfsadfsadf
      <button mat-raised-button color="primary">Detail..</button>
    </div>
    <div class="document col-4">
      <div class="document-title alert">Title 1</div>
      sdfgasdfsadfsadfsadfsadf
      sdfgasdfsadfsadfsadfsadf
      sdfgasdfsadfsadfsadfsadf
      sdfgasdfsadfsadfsadfsadf
      sdfgasdfsadfsadfsadfsadf
      <button mat-raised-button color="primary">Detail..</button>
    </div>
    <div class="document col-4">
      <div class="document-title alert">Title 1</div>
      sdfgasdfsadfsadfsadfsadf
      sdfgasdfsadfsadfsadfsadf
      sdfgasdfsadfsadfsadfsadf
      sdfgasdfsadfsadfsadfsadf
      sdfgasdfsadfsadfsadfsadf
      <button mat-raised-button color="primary">Detail..</button>
    </div>
  </div>

</div>
