html {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-wrapper{
    background-color: #34302d !important;
    border: none;
    border-top: 5px solid #6db33f;
}

.container-fluid{
  min-height: 650px;
}

.main-wrapper{
  margin-left: 22.666667%;
}

div.side-wrapper{
    position: fixed;
    top: 75px;
    bottom: 15%;
    left: 0;
    z-index: 10;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;

}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.header-wrapper {
    margin-top: 55px;
    max-width: 700px;
}

.main-wrapper .card {
    min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }