
.box-shadow {
  -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.11), 0 6px 10px 0 rgba(0,0,0,0.26), 0 1px 18px 0 rgba(0,0,0,.23); /* Safari & Chrome */
  -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.11), 0 6px 10px 0 rgba(0,0,0,0.26), 0 1px 18px 0 rgba(0,0,0,.23); /* Firefox */
  -o-box-shadow: 0 3px 5px -1px rgba(0,0,0,.11), 0 6px 10px 0 rgba(0,0,0,0.26), 0 1px 18px 0 rgba(0,0,0,.23); /* Opera */
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.11), 0 6px 10px 0 rgba(0,0,0,0.26), 0 1px 18px 0 rgba(0,0,0,.23);
}

:host {
  font-family: 'Nanum Pen Script', cursiv;
  font-size: 1.5em;
}

h1{
  font-size: 1.8em;
}


.header-wrapper{
  background-color: #4143ba;
}
