
<div class="header-wrapper d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 text-white border-bottom box-shadow">
  <h1 class="my-0 mr-md-auto font-weight-normal">SW app &nbsp;<i class="fa fa-telegram"></i></h1>
  <nav class="my-2 my-md-0 mr-md-3">
    <a
      class="p-2 text-white"
      [routerLink]="['/home']"
    >Home</a>
    <a
      class="p-2 text-white"
      [routerLink]="['/document/post']"
    >Document</a>
  </nav>
  <a class="btn btn-outline-primary"
     color="primary"
     mat-raised-button
     href="#">Sign up</a>
  <form class="form-inline ml-2 text-white">
      <input
        type="text"
        class="form-control-sm"
        placeholder="Search Document"
      >
  </form>
</div>
