
<div class="header-wrapper d-flex flex-column flex-md-row align-items-center p-3 mb-2 px-md-4 text-white border-bottom box-shadow">
  <h1 class="my-0 mr-md-auto font-weight-normal">
    <a
      class="text-white"
      [routerLink]="['/home']"
    >SW app &nbsp;<i class="fa fa-telegram"></i></a>
  </h1>
  <nav class="my-2 my-md-0 mr-md-3">
    <a
      class="p-2 text-white"
      [routerLink]="['/home']"
      (click)="onChangeModel('home')"
    >Home</a>
    <a
      class="p-2 text-white"
      [routerLink]="['/document/post']"
      (click)="onChangeModel('document')"
    >Document</a>
    <a
      class="p-2 text-white"
      [routerLink]="['/document/list']"
      (click)="onChangeModel('document')"
    >Document 1 (TESTING)</a>
  </nav>
  <a class="btn btn-outline-primary"
     color="primary"
     mat-raised-button
     (click)="onChangeModel('user')"
  >Sign up</a>
  <form class="form-inline ml-2 text-white">
      <input
        type="text"
        class="form-control-sm"
        placeholder="Search Document"
      >
  </form>
</div>
